<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="MVCWinform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="msaccess"  connectionString="Data Source=C:\Users\96650\source\repos\csharpmvc\DB\hisdb.mdb;Provider=Microsoft.Jet.OLEDB.4.0" />
    <add name="sqlserver" connectionString="Data Source=.\sqlexpress;Initial Catalog=his;Persist Security Info=True;User ID=hisuser;Password=hisuser123@." />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="CultureInfoGlobalization" value="en-NZ" />
    <add key="CultureInfoDateTimeFormatShortDatePattern" value="yyyy-MM-dd" />
    <add key="CultureInfoDateTimeFormatLongDatePattern" value="yyyy-MM-dd HH:mm:ss" />
    <add key="CultureInfoDateTimeFormatDateSeparator" value="-" />
    <add key="CultureInfoDateTimeFormatShortTimePattern" value="HH:mm" />
    <add key="CultureInfoDateTimeFormatLongTimePattern" value="HH:mm:ss" />
    <add key="CultureInfoDateTimeFormatTimeSeparator" value=":" />
    <add key="DatabaseFactory" value="System.Data.OleDb" />
    <add key="DatabaseConnectionString" value="msaccess" />
    <add key="xDatabaseFactory" value="System.Data.SqlClient" />
    <add key="xDatabaseConnectionString" value="sqlserver" />
  </appSettings>


  <!-- SQLITE 

  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>


   /SQLITE -->

</configuration>