<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ViewWinform.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="CultureInfo_Globalization"                   value="en-NZ" />      
      <add key="CultureInfo_DateTimeFormat_ShortDatePattern" value="yyyy-MM-dd" />
      <add key="CultureInfo_DateTimeFormat_LongDatePattern"  value="yyyy-MM-dd HH:mm:ss" />
      <add key="CultureInfo_DateTimeFormat_DateSeparator"    value="-" />
      <add key="CultureInfo_DateTimeFormat_ShortTimePattern" value="HH:mm" />
      <add key="CultureInfo_DateTimeFormat_LongTimePattern"  value="HH:mm:ss" />
      <add key="CultureInfo_DateTimeFormat_TimeSeparator"    value=":" />
      <add key="Database_Factory"                            value="System.Data.OleDb" />
      <add key="Database_Source"                             value="C:\Users\96650\source\repos\HIS\DB\his_database.mdb" />
      <add key="Database_User_Id"                            value="Admin" />
      <add key="Database_Password"                           value="" />
      <add key="Database_Provider"                           value="Microsoft.Jet.OLEDB.4.0" />
    </appSettings>
</configuration>