<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="msaccess"  connectionString="Data Source=.\..\..\..\DB\hisdb.mdb;Provider=Microsoft.Jet.OLEDB.4.0" />
    <add name="sqlserver" connectionString="Data Source=.\sqlexpress;Initial Catalog=his;Persist Security Info=True;User ID=hisuser;Password=hisuser123@." />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="CultureInfoGlobalization" value="en-NZ" />
    <add key="CultureInfoDateTimeFormatShortDatePattern" value="yyyy-MM-dd" />
    <add key="CultureInfoDateTimeFormatLongDatePattern" value="yyyy-MM-dd HH:mm:ss" />
    <add key="CultureInfoDateTimeFormatDateSeparator" value="-" />
    <add key="CultureInfoDateTimeFormatShortTimePattern" value="HH:mm" />
    <add key="CultureInfoDateTimeFormatLongTimePattern" value="HH:mm:ss" />
    <add key="CultureInfoDateTimeFormatTimeSeparator" value=":" />
    <add key="DatabaseFactory" value="System.Data.OleDb" />
    <add key="DatabaseConnectionString" value="msaccess" />
    <add key="xDatabaseFactory" value="System.Data.SqlClient" />
    <add key="xDatabaseConnectionString" value="sqlserver" />
  </appSettings>
</configuration>