<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ControllerLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ControllerLibrary.Properties.Settings>
            <setting name="RoomController" serializeAs="String">
                <value>ControllerLibrary.Housing.RoomController</value>
            </setting>
            <setting name="BuildingController" serializeAs="String">
                <value>ControllerLibrary.Housing.BuildingController</value>
            </setting>
            <setting name="CompoundController" serializeAs="String">
                <value>ControllerLibrary.Housing.CompoundController</value>
            </setting>
            <setting name="UserController" serializeAs="String">
                <value>ControllerLibrary.Security.UserController</value>
            </setting>
            <setting name="EntitlementController" serializeAs="String">
                <value>ControllerLibrary.Security.EntitlementController</value>
            </setting>
            <setting name="ProfileController" serializeAs="String">
                <value>ControllerLibrary.Security.ProfileController</value>
            </setting>
            <setting name="ProfileEntitlementsController" serializeAs="String">
                <value>ControllerLibrary.Security.ProfileEntitlementsController</value>
            </setting>
            <setting name="NationalityController" serializeAs="String">
                <value>ControllerLibrary.Customers.NationalityController</value>
            </setting>
        </ControllerLibrary.Properties.Settings>
    </applicationSettings>
</configuration>